<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learning Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Addclass</display-name>
    <servlet-name>Addclass</servlet-name>
    <servlet-class>Addclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addclass</servlet-name>
    <url-pattern>/Addclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addstudent</display-name>
    <servlet-name>Addstudent</servlet-name>
    <servlet-class>Addstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addstudent</servlet-name>
    <url-pattern>/Addstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addteacher</display-name>
    <servlet-name>Addteacher</servlet-name>
    <servlet-class>Addteacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addteacher</servlet-name>
    <url-pattern>/Addteacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addsubject</display-name>
    <servlet-name>Addsubject</servlet-name>
    <servlet-class>Addsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addsubject</servlet-name>
    <url-pattern>/Addsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listclasses</display-name>
    <servlet-name>Listclasses</servlet-name>
    <servlet-class>Listclasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listclasses</servlet-name>
    <url-pattern>/Listclasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Liststudents</display-name>
    <servlet-name>Liststudents</servlet-name>
    <servlet-class>Liststudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Liststudents</servlet-name>
    <url-pattern>/Liststudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listsubject</display-name>
    <servlet-name>Listsubject</servlet-name>
    <servlet-class>Listsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listsubject</servlet-name>
    <url-pattern>/Listsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listteachers</display-name>
    <servlet-name>Listteachers</servlet-name>
    <servlet-class>Listteachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listteachers</servlet-name>
    <url-pattern>/Listteachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>